body {
    display: grid;
    grid-template-rows: 10% 1fr 7.5%;
    grid-template-columns: 1fr;
    justify-content: center;
    max-height: 100%;
}

header,
footer {
    background-color: var(--color-primary);
        color: var(--color-bg);
    border-radius: 0;
    margin: 0;
    padding: 0.25em 0;
    box-shadow: 0.2em 0.2em 0 0 var(--color-accent);
}

:where(header, footer) :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-accent);
    text-shadow: 0.05em 0.05em var(--color-bg);
}
header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header :is(h1, h2) {
    margin: 0;
    margin-top: 0.1vw;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.15rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2vh;
}

footer > * {
    margin: 0;
}

main {
    margin: 0 1rem;
}

#designs {
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card {
    max-width: 100%;
    padding: 0 1em;
    box-shadow: 0.1em 0.1em 0 0 var(--color-accent);
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.card h3 {
    color: var(--color-accent);
    text-shadow: 0.05em 0.03em var(--color-bg);
}

.card div {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.card img, .card video {
    max-width: 100%;
    min-width: 80%;
}

.card a {
    /* alternative lighter color to increase contrast, TODO make it a global var later */
    color: hsl(330, 100%, 80%);
}
