@media (min-width: 32.5rem) {

    body {
        /* Larger header and footer */
        grid-template-rows: 15% 1fr 10%;
        /* Limit to 32.5rem width, center in that area */
        min-width: 32.5rem;
        width: 80%;
        max-width: 44rem;
        margin: 0 auto;
    }

    header,
    footer {
        /* More space */
        margin: 0.5rem 0;
    }

}
